#title-block-header h1.title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #111111;
  border-bottom: none;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#quarto-document-content h1:not(.title) {
  font-size: 1.8rem;
  font-weight: 600;
  color: #111111;
  border-bottom: none;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#quarto-document-content h2 {
  font-size: 1.5rem;
  font-weight: 550;
  color: #111111;
  border-bottom: none;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#quarto-document-content h3 {
  font-size: 1.2rem;
  font-weight: 550;
  color: #111111;
  border-bottom: none;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#quarto-document-content p {
  margin-top: 0.5rem !important; 
  margin-bottom: 0.5rem !important;
  padding-left: 0;
  padding-right: 0;
}